{% extends "home.html" %}
{% block title %}Administrative system for staff {% endblock%}

{% block content %}
<div class="flightdetails" method="POST">
    <h1>flight details:</h1>
    {% if isManager %}
       <button><a href="/admin/flight/add/">add new flight!</a></button>
       <button><a href="/admin/flight/duplicate/">duplicate new week!</a></button>
    {% endif %}
    <table class="table table-striped">
        <thead method='POST'>
            <tr>
                <th scope="col">flightID</th>
                <th scope="col">flightnum</th>
                <th scope="col">flightdate</th>
                <th scope="col">dep-airport</th>
                <th scope="col">dep-time</th>
                <th scope="col">arr-airport</th>
                <th scope="col">arr-time</th>
                <th scope="col">aircraft</th>
                <th scope="col">seat-booked</th>
                <th scope="col">seat-available</th>
                <th scope="col">flight-status</th>
            </tr>
        </thead>

        <tbody>
            
            {% for a in userSelect %}
            <tr>
                <td><a href="/admin/flight/details?flightID={{a[0]}}&staffID={{staffID}}">{{a[0]}}</a></td>
                <td>{{a[1]}}</td>
                <td>{{a[2]}}</td>
                <td>{{a[3]}}</td>
                <td>{{a[4]}}</td>
                <td>{{a[5]}}</td>
                <td>{{a[6]}}</td>
                <td>{{a[7]}}</td>
                <td>{{a[8]}}</td>
                <td>{{a[9]}}</td>
                <td>{{a[10]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}