{% extends "home.html" %}
{% block title %}Administrative system for staff {% endblock%}

{% block content %}


<h1>flight {{flight}} details:</h1>

{% if isManager %}
<form action="{{url_for('flightDetail')}}" method="POST">
    <input type="hidden" value="{{staffID}}" name="staffID" id="staffID">
    <input type="hidden" value="{{flightID}}" name="flightID" id="flightID">
    <table class="table table-striped">
        <thead method='POST'>
            <tr>
                <th scope="col">flightID</th>
                <th scope="col">flightnum</th>
                <th scope="col">flightdate</th>
                <th scope="col">dep-airport</th>
                <th scope="col">dep-time</th>
                <th scope="col">arr-airport</th>
                <th scope="col">arr-time</th>
                <th scope="col">aircraft</th>
                <th scope="col">seat-booked</th>
                <th scope="col">seat-available</th>
                <th scope="col">flight-status</th>
            </tr>
        </thead>

        <tbody>

            {% for a in userSelect %}
            <tr>
                <td>{{a[0]}}</td>
                <td>{{a[1]}}</td>
                <td>{{a[2]}}</td>
                <td>{{a[3]}}</td>
                <td>
                    <input type="time" id="deptime" name="deptime">
                    <label for="deptime">{{a[4]}}</label>
                </td>
                <td>{{a[5]}}</td>
                <td>
                    <input type="time" id="arrtime" name="arrtime">
                    <label for="arrtime">{{a[4]}}</label>
                </td>
                <td>
                    
                    <select name="regMark" id="regMark">
                    
                        <option value="{{a[7]}}">{{a[7]}}</option>
                     {% for r in regMark %}
                        <option value="{{r}}">{{r}}</option>
                        
                    {% endfor %}

                    </select>
                      
                </td>
                <td>{{a[8]}}</td>
                <td>{{a[9]}}</td>
                <td>
                    <select name="status" id="status">
                        <option value="{{a[10]}}">{{a[10]}}</option>
                        <option value="Canceled">Canceled</option>
                        <option value="Delayed">Delayed</option>
                        <option value="Departed">Departed</option>
                        <option value="Landed">Landed</option>
                        <option value="On time">On time</option>
                    </select>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type="submit">
</form>

{% else %}
<form action="{{url_for('flightDetail')}}" method="POST">
    <input type="hidden" value="{{staffID}}" name="staffID" id="staffID">
    <input type="hidden" value="{{flightID}}" name="flightID" id="flightID">
    <table class="table table-striped">
        <thead method='POST'>
            <tr>
                <th scope="col">flightID</th>
                <th scope="col">flightnum</th>
                <th scope="col">flightdate</th>
                <th scope="col">dep-airport</th>
                <th scope="col">dep-time</th>
                <th scope="col">arr-airport</th>
                <th scope="col">arr-time</th>
                <th scope="col">aircraft</th>
                <th scope="col">seat-booked</th>
                <th scope="col">seat-available</th>
                <th scope="col">flight-status</th>
            </tr>
        </thead>

        <tbody>

            {% for a in userSelect %}
            <tr>
                <td>{{a[0]}}</td>
                <td>{{a[1]}}</td>
                <td>{{a[2]}}</td>
                <td>{{a[3]}}</td>
                <td>
                    <input type="time" id="deptime" name="deptime">
                    <label for="deptime">{{a[4]}}</label>
                </td>
                <td>{{a[5]}}</td>
                <td>
                    <input type="time" id="arrtime" name="arrtime">
                    <label for="arrtime">{{a[4]}}</label>
                </td>
                <td>{{a[7]}}</td>
                <td>{{a[8]}}</td>
                <td>{{a[9]}}</td>
                <td>
                    <select name="status" id="status">
                        <option value="{{a[10]}}">{{a[10]}}</option>
                        <option value="">Canceled</option>
                        <option value="">Delayed</option>
                        <option value="">Departed</option>
                        <option value="">Landed</option>
                        <option value="">On time</option>
                    </select>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type="submit">
</form>
{% endif %}

<h1>all the passenger booked this flight {{flight}}:</h1>
<table class="table table-striped">
    <thead method='POST'>
        <tr>
            <th scope="col">booking-num</th>
            <th scope="col">passengerID</th>
            <th scope="col">firstname</th>
            <th scope="col">lastname</th>
            <th scope="col">emailaddress</th>
            <th scope="col">phonenumber</th>
            <th scope="col">passportnumber</th>
           
        </tr>
    </thead>

    <tbody>

        {% for a in passenger %}
        <tr>
            <td>{{loop.index}}</td>
            <td><a href="/admin/passenger/details/?passengerID={{passengerID}}&staffID={{staffID}}">{{a[0]}}</a></td>
            <td>{{a[1]}}</td>
            <td>{{a[2]}}</td>
            <td>{{a[3]}}</td>
            <td>{{a[4]}}</td>
            <td>{{a[5]}}</td>
           
            
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}