{% extends "home.html" %}
{% block title %} please add new booking {% endblock%}

{% block content %}
<form action="{{url_for('adminAdd')}}" method="POST">
    <input type="hidden" value="{{passengerID}}" id="passengerID" name="passengerID">
    <label for="select">please select departure airport:</label>
    <select name="select" id="select">
        <option value="BHE">Blenheim Airport(BHE)</option>
        <option value="CHC">Christchurch Airport(CHC)</option>
        <option value="HKK">Hokitika Airport(HKK)</option>
        <option value="NSN" selected>Nelson Airport(NSN)</option>
        <option value="PCN">Picton Aerodrome(PCN)</option>
        <option value="PMR">Palmerston North Airport(PMR)</option>
        <option value="PPQ">Kapiti Coast Airport(PPQ)</option>
        <option value="WAG">Whanganui Airport(WAG)</option>
        <option value="WLG">Wellington Airport(WLG)</option>
    </select>
    <input type="submit">
</form>


<table class="table table-striped">
    <thead method='POST'>
        <tr>
            <th scope="col">Flight-id</th>
            <th scope="col">Flight-num</th>
            <th scope="col">dep-date</th>
            <th scope="col">dep-airport</th>
            <th scope="col">dep-time</th>
            <th scope="col">arr-airport</th>
            <th scope="col">arr-time</th>
            <th scope="col">seat-available</th>
            <th scope="col">flight-status</th>
            <th scope="col">description</th>
        </tr>
    </thead>

    <tbody>
        {% for a in available %}
        <tr>
            <td><a href="/admin/passenger/add/success?passengerID={{passengerID}}&flightID={{a[0]}}">{{a[0]}}</a></td> <!----flight that can be booked-->
            <td>{{a[1]}}</td>
            <td>{{a[2]}}</td>
            <td>{{a[3]}}</td>
            <td>{{a[4]}}</td>
            <td>{{a[5]}}</td>
            <td>{{a[6]}}</td>
            <td>{{a[7]}}</td>
            <td>{{a[8]}}</td>
            <td>{{a[9]}}</td>
        </tr>
        {% endfor %}

        {% for a in noseats %} <!----flight that CANNOT be booked (no seats)-->
        <tr>
            <td>{{a[0]}}</td>
            <td>{{a[1]}}</td>
            <td>{{a[2]}}</td>
            <td>{{a[3]}}</td>
            <td>{{a[4]}}</td>
            <td>{{a[5]}}</td>
            <td>{{a[6]}}</td>
            <td>{{a[7]}}</td>
            <td>{{a[8]}}</td>
            <td>{{a[9]}}</td>
        </tr>
        {% endfor %}

        {% for a in cancelled %} <!----flight that CANNOT be booked(been cancelled)-->
        <tr>
            <td>{{a[0]}}</td>
            <td>{{a[1]}}</td>
            <td>{{a[2]}}</td>
            <td>{{a[3]}}</td>
            <td>{{a[4]}}</td>
            <td>{{a[5]}}</td>
            <td>{{a[6]}}</td>
            <td>{{a[7]}}</td>
            <td>{{a[8]}}</td>
            <td>{{a[9]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



<button><a href="/admin/passenger/add?passengerID={{passengerID}}">back to previous page!</a></button>


{% endblock %}