{% extends "home.html" %}
{% block title %}Administrative system for staff {% endblock%}

{% block content %}
<h1>please fill the form:</h1>

<form action="{{url_for('adminFlightAdd')}}" method="POST">
    <div class="form-row">
        <!---------flightnum-->
        <div class="form-group col-md-6">
            <label for="flightnum">flight-num</label>
            <select name="flightnum" id="flightnum" class="form-control" required>
                {% for f in flightNum %}
                <option value="{{f}}">{{f}}</option>
                
                {% endfor %}
            </select>
        </div>
        <!---------weeknum-->
        <div class="form-group col-md-6">
            <label for="weeknum">weeknum</label>
            <input type="number" class="form-control" id="weeknum" name="weeknum" required>
        </div>
        <!---------flightdate-->
        <div class="form-group col-md-6">
            <label for="flightdate">flightdate</label>
            <input type="date" class="form-control" id="flightdate" name="flightdate" required>
        </div>
        <!---------deptime-->
        <div class="form-group col-md-6">
            <label for="deptime">deptime</label>
            <input type="time" class="form-control" id="deptime" name="deptime" required>
        </div>

        <!---------arrtime-->
        <div class="form-group col-md-6">
            <label for="arrtime">arrtime</label>
            <input type="time" class="form-control" id="arrtime" name="arrtime" required>
        </div>


        <!---------aircraft-->
        <div class="form-group col-md-6">
            <label for="aircraft">aircraft</label>
            <select name="aircraft" id="aircraft" class="form-control" required>
                {% for r in regMark %}
                <option value="{{r}}">{{r}}</option>
                

                {% endfor %}
            </select>
        </div>



    </div>

    <input type="submit" class="btn btn-primary">
</form>

{% endblock %}